<%= form_tag(contacts_path(@conn, :create), method: :post) %>
  <label>First name</label>
  <br />
  <br />
  <input type="text" name="firstname" />
  <br />
  <br />
  <label>Last name</label>
  <br />
  <br />
  <input type="text" name="lastname" />
  <br />
  <br />
  <input type="submit" />
</form>
